@charset "UTF-8"

.hidden
{
	display: none;
}

.hidden
{
	display: none;
}

#container1

{
	margin: 0 auto;
	overflow: hidden;
	padding-top: 10px;
	width: 960px;
}

#mainHeader
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 auto;
	padding: 0 auto;

}

#logo
{
	width: 156px;
	height: 89px;
	margin-bottom: 10px;
}

#socialCon
{
	width: 650px;
}

#socialNav
{
	width: 180px;
	height: 49px;
	margin: 0 auto;
	padding: 0 auto;
}

.navBt
{
	width: 49px;
	margin-left: 5px;
}

#mainCon
{
	background-color: #603813;
	height: 45px;
	padding: 0;
	margin: 0 auto;
}

#navCon
{
 	display: flex;
	flex-flow: row;
	justify-content: center;
	width: 960px;
	margin: 0 auto;
	padding-top: 10px;
	overflow: hidden;
}

li
{
	list-style: none;
}

a:link {
	text-decoration-line: none;
	color: #fff;
	font-family: "Helvetica Neue", "Arial Black", sans-serief;
}

a:visited {
	text-decoration-line: none;
	color: #fff;
	font-family: "Helvetica Neue", "Arial Black", sans-serief;
}

a:hover, a:active {
	text-decoration: none;
	color: #ff7500;
	font-family: "Helvetica Neue", "Arial Black", sans-serief;
}
#mainNav
{
	font-size: 24px;
	text-align: center;
}

.navli
{
	display: inline;
	padding: 0px 50px 0px 50px;
}

.bt
{
	margin: 10px;
	padding: 0 auto;
}


/* contents */
#container3
{
	margin-bottom: 10px;
	padding: 0 auto;
	overflow: hidden;
	background-color: #ffe1cb;
	display: flex;
	flex-flow: row;
	justify-content: center;
}

#imageText
{
	width: 600px;
	height: 100px;
	padding-top: 70px;
	text-align: center;
	font-family: "Helvetica", "Arial", sans-serief;
	font-size: 16px;
}

.mainTitle
{
	font-family: "Plantagenet Cherokee", "Times new loman", sans-serief;
	color: #603813;
	font-weight: bold;
	font-size: 32px;
}

.foodCon
{
	margin-bottom: 10px;
	padding: 0 auto;
	overflow: hidden;
	width: 960px;
	background-color: #eee;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
}

.foodImage
{
	width: 420px;
	height: 428px;
}

.foodDec
{
	width: 540px;
	background-color: #efefef;
	margin-left: 40px;
	margin-top: 120px;
}


.foodText
{
	width: 400px;

}

.foodTitle
{
	font-family: "Plantagenet Cherokee", "Times new loman", sans-serief;
	color: #603813;
	font-weight: bold;
	margin-bottom: 20px;
	font-size: 26px;
}

.foodContenttext
{
	font-family: "Helvetica", "Arial", sans-serief;
	margin-bottom: 20px;
	font-size: 18px;
	line-height: 20px;
}


.foodContainer
{
	display: flex;
	flex-direction: row;
	justify-content: center;
}


/* Here is a Footer Part */

#mainFooter
{
	background-color: #603813;
	height: 150px;
	padding: 20px 0px 20px 0px;
	margin: 0;
}

#footerCon
{
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	width: 960px;
	margin: 0 auto;
	padding: 0 auto;
	overflow: hidden;
}

#footerNav
{
	width: 294px;
	height: 100px;
	text-align: left;
	line-height: 25px;
}

.footertitle
{
	color: #fff;
	font-family: "Helvetica Neue", "Arial Black", sans-serief;
	font-size: 14px;
}

.footerDes
{
	color: #fff;
	font-family: "Helvetica", "Arial", sans-serief;
	font-size: 12px;
	margin-bottom: 10px;

}

#soNav
{
	width: 294px;
	height: 100px;
	text-align: left;
	line-height: 25px;
}

#contact
{
	width: 294px;
	height: 100px;
	text-align: left;
	line-height: 25px;
}
